{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block about %}active{% endblock %}







{% block content %}

 			<section class="page-title-area" style='background:rgba(0, 0, 0, 0) url("/static/clientstatic/img/about/page-banner.jpg") repeat scroll 0 0 / cover ;'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>About us</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'orgapp:home' %}">Home</a></li>
                                    <li class="active">About us</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start about content area -->
            <section class="about-content-area pt-90 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="about-content">
                                <!-- Start section title -->
                                <div class="section-title text-center">
                                    <h2>About <span>Us</span></h2>
                                    <img src="{% static 'clientstatic/img/title-bottom.png' %}" alt="">
                                </div>
                                <!-- End section title -->
                                <p>{{orgn.about_us|safe}} </p>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="about-image">
                                <img src="{{orgn.profile_image.url}}" alt="">
                                <br>
                                <br>
                                <br>
                                <br>
                                <h3>Latest Articles</h3>
                                  <div class="card" style="width: 18rem;">
                                    {% for article in articles|slice:5 %}
<!--                                       <img src="{{article.image.url}}" class="card-img-top" alt="...">
 -->                                      <div class="card-body">
                                        <h5 class="card-title">{{article.title}}</h5>
                                        <p class="card-text">{{article.content|truncatechars:200}} <a href="{% url 'orgapp:articledetail' article.pk %}">Read More</a></p>
                                      </div>
                                      {% endfor %}
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


       </div>
                        <!-- End brand logo -->
        </div>
       </div>
            </section>






{% endblock %}