{% extends 'clienttemplates/clientbase.html '%}
{% load static %}
{% block album %}active{% endblock %}




{% block content %}


 
        	<!-- Start page title -->
            <section class="page-title-area" style='background:rgba(0, 0, 0, 0) url("/static/clientstatic/img/about/page-banner.jpg") repeat scroll 0 0 / cover ;'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1> Our Gallery</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'orgapp:home' %}">Home</a></li>
                                    <li class="active">Album</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
         

           <section class="our-gallery pt-90 pb-60">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>OUR <a href="{% url 'orgapp:albumlist' %}"><span>Album</span></a></h2>
                                <img src="img/title-bottom.png" alt="">
                             <!--    <p>We create events aiming to pear to the voice for children and gather for support. <br>Please update with our events and confirm you presence.</p> -->
                            </div>
                        </div>
                        <!-- End section title -->
                        <div class="gallery-area">
                          
                            <div id="gallery-filter">
                                <!-- Start single gallery -->
                                {% for album in albumlist %}
                                <div class="col-sm-3 mb-30 single-gallery mix all Charity Wildlife ">
                                    <div class="gallery-image-and-text">
                                        <a class=" text-center" href="{% url 'orgapp:albumdetail' album.id %}">
                                        <img class="img-responsive" src="{{album.image_set.first.image.url}}" alt=""  style="height: 200px;" />
                                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                            <p>{{album.title}}</p>
                                        </a>
                                    </div>
                                </div>

                            {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </section>










{% endblock %}