{% extends 'clienttemplates/clientbase.html' %}

{% block content %}

   	<!-- Start page title -->
            <section class="page-title-area" style='background:rgba(0, 0, 0, 0) url("/static/clientstatic/img/about/page-banner.jpg") repeat scroll 0 0 / cover ;'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>{{album.title}}</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'orgapp:home' %}">Home</a></li>
                                    <li class="active">{{album.title}}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


              <section class="our-gallery pt-90 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>OUR <span>{{album.title}}</span></h2>
                                <img src="img/title-bottom.png" alt="">
                            </div>
                        </div>

                             <div id="gallery-filter">
							{% for alb in album.image_set.all %}
                            
                                <div class="col-sm-3 mb-30 single-gallery mix all Charity Wildlife ">
									<div class="gallery-image-and-text">
										<img class="img-responsive" src="{{alb.image.url}}" alt="" />
										<a class="image-link text-center" href="{{alb.image.url}}">
											<i class="fa fa-plus-square-o" aria-hidden="true"></i>
											<p>{{alb.album}}</p>
										</a>
									</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>





{% endblock %}