{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block article %}active{% endblock %}


{% block content %}


       <section class="page-title-area" style='background:rgba(0, 0, 0, 0) url("/static/clientstatic/img/about/page-banner.jpg") repeat scroll 0 0 / cover ;'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>Our Article</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'orgapp:home' %}">Home</a></li>
                                    <li class="active">Article</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start our blog area -->
            <section class="our-blog-area pt-90 pb-60">
                <div class="container">
                    <div class="row">
                    	{% for article in articlelist %}
                        <!-- Start blog -->
                        <div class="blog">
                            <!-- Start single blog -->
                            <div class="col-sm-4">
                                <div class="single-blog mb-30">
                                    <div class="blo-image-and-date">
                                        <img src="{{article.image.url}}" alt="" style="height:150px">
                                    </div>
                              
                                    <div class="blog-text">
                                        <h3><a href="#">{{article.title}}</a></h3>
                                        <p>{{article.content|truncatechars:30}}</p>
                                        <a href="{% url 'orgapp:articledetail' article.pk %}">Read More...</a>
                                    </div>
                                </div>
                            </div>



                            <!-- End single blog -->
                        </div>
                        <!-- End blog -->
                 
                        {% endfor %}
                    </div>
                </div>
            </section>
















{% endblock %}