{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="en">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Organization Name</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon
        ============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'clientstatic/img/favicon.ico' %}"> 
        
   
         <link rel="stylesheet" href="{% static 'clientstatic/css/master.css' %}">
        
        <script src="{% static 'clientstatic/js/vendor/modernizr-2.8.3.min.js' %}"></script>
        {% block css %}
        {% endblock %}

    </head>
    <body>

        {% if org.messenger_script %}

        {{org.messenger_script}}


        {% endif %}


        
        <!-- Start main area -->
        <div class="main-area">
            <!-- Start header -->
            <header>
                <!-- Start header top -->
                <div class="header-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-6">
                                <div class="top-social">
                                    <nav>
                                        <ul>
                                            <li><a href="#">Follow Us On:</a></li>
                                            <li><a href="{{org.facebook}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="{{org.twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-6">
                                <div class="call-to-action">
                                    <nav>
                                        <ul>
                                            <li><a href="mailto:ourmail@domain.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email: {{org.email}}</a></li>
                                            <li><a href="tel:+5881234567"><i class="fa fa-phone" aria-hidden="true"></i> Phone:{{org.contact_no}}</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End header top -->
                <!-- Start main menu area -->
                <div class="main-menu-area" id="sticker">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <div class="logo ptb-32">
                                    <a href="{% url 'orgapp:home' %}">
                                        <img src="{{org.logo.url}}" alt="" style="height: 70px;">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-9 col-xs-12">
                                <div class="main-menu">
                                    <nav>
                                        <ul>
                                            <li class="{% block home %} {% endblock %}"><a href="{% url 'orgapp:home' %}">Home</a>
                                           
                                            </li>
                                            <li class="{% block about %} {% endblock %}"><a href="{% url 'orgapp:about' %}">About Us</a>
                                                 <ul class="drop-menu">
                                                    <li><a href="{% url 'orgapp:about' %}">Information</a></li>
                                                    <li><a href="{% url 'orgapp:memberlist' %}">Members</a></li>
                                                </ul>
                                            </li>
                                            <li class="{% block event %} {% endblock %}"><a href="{% url 'orgapp:eventlist' %}">Events</a></li>
                                            <li class="{% block article %} {% endblock %}"><a href="{% url 'orgapp:articlelist' %}">Article</a>
                                            
                                            </li>
                                            <li  class="mega-menu {% block album %} {% endblock %}"><a href="{% url 'orgapp:albumlist' %}">Album</a>
                                       
                                            </li>
                                            <li class="{% block download %} {% endblock %}"><a href="{% url 'orgapp:download' %}">Download</a>
                                                <ul class="drop-menu">
                                                    <li><a href="{% url 'orgapp:download' %}">Download</a></li>
                                                    <li><a href="{% url 'orgapp:publication' %}">Publication</a></li>
                                                </ul>
                                            </li>
                                          <!--   <li class="{% block contact %} {% endblock %}"><a href="{% url 'orgapp:contact' %}">Contact</a>
                                            </li> -->
                                    
                                        </ul>
                                    </nav>
                                </div>
                                <div class="donate-button ptb-32">
                                    <a class="waves-effect waves-light" href="{% url 'orgapp:contact' %}">Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="nav">
                                        <li><a class="home" href="{% url 'orgapp:home' %}">Home</a>
                                        </li>
                                        <li><a href="{% url 'orgapp:about' %}">About US</a>
                                            <ul>
                                             <li><a href="{% url 'orgapp:about' %}">Information</a></li>
                                            <li><a href="{% url 'orgapp:memberlist' %}">Members</a></li>
                                        </ul>
                                        </li>
                                        <li><a href="{% url 'orgapp:eventlist' %}">Event</a>
                                        </li>
                                        <li><a href="{% url 'orgapp:articlelist' %}">Article</a>
                                        </li>
                                        <li><a href="{% url 'orgapp:albumlist' %}">Album</a></li>
                                         <li><a class="home" href="{% url 'orgapp:download' %}">Download</a>
                                             <ul>
                                                    <li><a href="{% url 'orgapp:download' %}">Download</a></li>
                                                    <li><a href="{% url 'orgapp:publication' %}">Publication</a></li>
                                                  </ul>
                                        </li>
                                        <li><a href="{% url 'orgapp:contact' %}">Contact</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </header>


                     







    

            <!-- Start footer -->


             {% block content %}


            {% endblock %}



<li>{{error}}</li>



            <footer>
                <div class="footer-top pt-50 pb-50">
                    <div class="container">
                        <div class="row">
                            <div class="footer-widget-area">
                                <!-- Start footer widget -->
                                <div class="col-sm-4">
                                    <div class="footer-widget widget-one">
                                        <div class="footer-widget-title">
                                            <h3>ABOUT US</h3>
                                        </div>
                                        <div class="widget-about-content">
                                            <p>{{org.about_us|striptags|safe|truncatechars:200}}<a href="{% url 'orgapp:about' %}">Read More</a></p>

                                        </div>
                                        <div class="widget-contact-content">
                                            <h3>CONTACT US</h3>
                                            <a href="tel:+0012345678">Phone :{{org.contact_no}}</a>
                                            <a href="mailto:info@granttheme.com">Email : {{org.email}}</a>
                                            <p>Address : {{org.address}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                                <!-- Start footer widget -->
                                <div class="col-sm-2">
                                    <div class="footer-widget widget-two">
                                        <div class="footer-widget-title">
                                            <h3>Our Event</h3>
                                        </div>
                                        <nav>
                                            {% for eve in event %}
                                            <ul>
                                                <li><a href="#">{{eve.title}}</a></li>
                                            </ul>
                                            {% endfor %}
                                        </nav>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                                <!-- Start footer widget -->
                                <div class="col-sm-2">
                                    <div class="footer-widget widget-two">
                                        <div class="footer-widget-title">
                                            <h3>QUCIK LINK</h3>
                                        </div>
                                        <nav>
                                            <ul>
                                                <li><a href="{% url 'orgapp:memberlist' %}">Member</a></li>
                                                <li><a href="{% url 'orgapp:articlelist' %}">Article</a></li>
                                                <li><a href="{% url 'orgapp:albumlist' %}">Gallery</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                                <!-- Start footer widget -->
                                <div class="col-sm-4">
                                    <div class="footer-widget widget-four">
                                        <div class="footer-widget-title">
                                            <h3>NEWSLETTER</h3>
                                        </div>
                                        <div class="widget-about-content">
                                            <p>Select your newsletters, enter your email address, and click "Subscribe"</p>
                                        </div>
                                        <div class="newslater">
                                            <form action="{% url 'orgapp:subscriber' %}"  class="mc-form form" method="post" >
                                                {% csrf_token %}
                                                {{subs.email}}
                                                <button  type="submit" ><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                            </form>
                                            <!-- mailchimp-alerts Start -->
                                            <div class="mailchimp-alerts text-centre">
                                                <div class="mailchimp-submitting"></div>
                                                <div class="mailchimp-success"></div>
                                                <div class="mailchimp-error"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="copyright">
                                    <p>Copyright {% now "Y" %} All rigth reserved. Design by theme <a href="{% url 'orgapp:home' %}">Sarobar Technology</a></p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="footer-social">
                                    <nav>
                                        <ul>
                                            <li><a href="{{org.facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="{{org.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs" id="back-top" style="display: block;"></div>
                    </div>
                </div>
            </footer>
            <!-- End footer -->
        </div>
        <!-- End main area -->







        <!-- jquery-1.12.0.min js
        ============================================ -->  
        <script src="{% static 'clientstatic/js/vendor/jquery-1.12.0.min.js' %}"></script>
        
        <!-- bootstrap js
        ============================================ -->         
        <script src="{% static 'clientstatic/js/bootstrap.min.js' %}"></script>
        
        <!-- owl.carousel.min js
        ============================================ -->       
        <script src="{% static 'clientstatic/js/owl.carousel.min.js' %}"></script>

        <!-- jquery.nivo.slider.pack js
        ============================================ -->       
        <script src="{% static 'clientstatic/js/jquery.nivo.slider.pack.js' %}"></script>

        <!-- jquery.mixitup.min js
        ============================================ -->       
        <script src="{% static 'clientstatic/js/jquery.mixitup.min.js' %}"></script>

        <!-- jquery.magnific-popup.min js
        ============================================ -->       
        <script src="{% static 'clientstatic/js/jquery.magnific-popup.min.js' %}"></script>

        <!-- jquery.meanmenu js
        ============================================ -->       
        <script src="{% static 'clientstatic/js/jquery.meanmenu.js' %}"></script>

        <!-- jquery.syotimer.min js
        ============================================ -->       
        <script src="{% static 'clientstatic/js/jquery.syotimer.min.js' %}"></script>
    
        <!-- wow js
        ============================================ -->       
        <script src="{% static 'clientstatic/js/wow.js' %}"></script>
        
        <!-- jquery.scrollUp.min js
        ============================================ -->       
        <script src="{% static 'clientstatic/js/jquery.scrollUp.min.js' %}"></script>
        
        <!-- jquery.ajaxchimp.min js
        ============================================ -->       
        <script src="{% static 'clientstatic/js/jquery.ajaxchimp.min.js' %}"></script>
      
        <!-- plugins js
        ============================================ -->         
        <script src="{% static 'clientstatic/js/plugins.js' %}"></script>

        <script>
            new WOW().init();
        </script>

        <!-- styleswitch js
        ============================================ -->       
        <script src="{% static 'clientstatic/js/styleswitch.js' %}"></script>

        <!-- main js
        ============================================ -->           
        <script src="{% static 'clientstatic/js/main.js' %}"></script>

        {% if org.google_analytics_script %}

        {{org.google_analytics_script}}

        {% endif %}




    </body>

</html>
