{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block contact %} active {% endblock %}



{% block content %}


           <section class="page-title-area" style='background:rgba(0, 0, 0, 0) url("/static/clientstatic/img/about/page-banner.jpg") repeat scroll 0 0 / cover ;'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>Contact Us</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'orgapp:home' %}">Home</a></li>
                                    <li class="active">Contact Us</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start keep in touch area -->
            <section class="keep-in-touch-area pt-90 pb-90">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>Keep In <span>Touch</span></h2>
                                <img src="img/title-bottom.png" alt="">
                             
                           </div>
                        </div>
                        <!-- End section title -->
                        <div class="keep-in-touch-therd-box">
                            <!-- Start single box -->
                            <div class="col-sm-4">
                                <div class="single-box text-center">
                                    <i class="fa fa-map" aria-hidden="true"></i>
                                    <h3>ADDRESS</h3>
                                    <p>{{orgna.address}}</p>
                                </div>
                            </div>
                            <!-- End single box -->
                            <!-- Start single box -->
                            <div class="col-sm-4">
                                <div class="single-box text-center">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <h3>CALL US</h3>
                                    <p>{{orgna.contact_no}}</p>
                                </div>
                            </div>
                            <!-- End single box -->
                            <!-- Start single box -->
                            <div class="col-sm-4">
                                <div class="single-box text-center">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <h3>EMAIL US</h3>
                                    <p>{{orgna.email}}</p>
                                </div>
                            </div>
                            <!-- End single box -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- End keep in touch area -->
            <!-- Start contact form area -->
            <section class="contact-form-area pb-60 pt-90">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>Say <span>Hello</span></h2>
                                <img src="img/title-bottom.png" alt="">
                            </div>
                        </div>
                        <!-- End section title -->
                        <div class="col-sm-12">
                            <div class="contact-form">
                                <form id="contact-form" method="POST" action="">
                                    {% csrf_token %}
                                    <div class="form-fields">
                                        <label for="name">Name</label>
                                        {{form.name}}
                                    </div>
                                    <div class="form-fields">
                                        <label for="email">Email</label>
                                        {{form.email}}
                                    </div>
                                    <div class="form-fields last">
                                        <label for="phone">Phone</label>
                                        {{form.mobile}}
                                    </div>
                                    <div class="message-fields">
                                        <label for="mess">Message</label>
                                        {{form.message}}
                                    </div>
                                    <div class="form-button">
                                        <button type="submit">Send your message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


              <div class="google-map pb-90">
                <div id="googleMap">
                       
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d441.7486942662185!2d85.3214384183913!3d27.655794892473764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb177ecff27973%3A0xb57b2fbfc94f7fe7!2sSarobar%20Technology%20Pvt.%20Ltd.!5e0!3m2!1sen!2snp!4v1575434996027!5m2!1sen!2snp" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>

              





{% endblock %}