{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block download %}active{% endblock %}


{% block content %}

     <section class="page-title-area" style='background:rgba(0, 0, 0, 0) url("/static/clientstatic/img/about/page-banner.jpg") repeat scroll 0 0 / cover ;'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>Download</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'orgapp:home' %}">Home</a></li>
                                    <li class="active">Download</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start our blog area -->
            <section class="our-blog-area pt-90 pb-60">
                <div class="container">
                    <div class="row">
                    	{% for publ in downloadlist %}
                        <!-- Start blog -->
                        <div class="blog">
                            <!-- Start single blog -->
                            <div class="col-sm-4">
                                <div class="single-blog mb-30">
                                    <div class="blog-text">
                                        <h3><a href="#">{{publ.title}}</a></h3>
                                        <p>{{publ.short_details}}</p>
                                       <a href="{{publ.file.url}}" download> <p><i class="fa fa-download"></i></p></a>
                                    </div>
                                </div>
                            </div>



                            <!-- End single blog -->
                        </div>
                        <!-- End blog -->
                 
                        {% endfor %}
                    </div>
                </div>
            </section>












{% endblock %}