{% extends 'clienttemplates/clientbase.html' %}






{% block content %}


     

            <!-- Start page title -->
            <section class="page-title-area" style='background:rgba(0, 0, 0, 0) url("/static/clientstatic/img/about/page-banner.jpg") repeat scroll 0 0 / cover ;'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>Event Details</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'orgapp:home' %}">Home</a></li>
                                    <li class="active">Event Details</li>
                                </ol>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start our blog area -->
            <section class="our-blog-area pt-90 pb-60">
                <div class="container">
                    <div class="row">
                        <!-- Start blog -->
                        <div class="blog">
                            <!-- Start single blog -->
                            <div class="col-sm-12">
                                <div class="blog-details single-blog mb-30">
                                    <div class="blog-details-title">
                                        <h3>{{events.title}}</h3>
                                        <h3>{{events.date}}</h3>
                                        <h3>{{events.venue}}</h3>
                                    </div>
                               
                                    <hr>
                                    <div class="blo-image-and-date">
                                        <img src="{{events.image.url}}" alt="">
                                    </div>
                                    <div class="blog-text">
                                        <p>{{events.description}}</p>                                        
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                        </div>
                    </div>
                </div>
            </section>




    {% endblock %}