{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block event %}active{% endblock %}




{% block content %}



   <!-- Start page title -->
            <section class="page-title-area" style='background:rgba(0, 0, 0, 0) url("/static/clientstatic/img/about/page-banner.jpg") repeat scroll 0 0 / cover ;'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>OUR EVENTS</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'orgapp:home' %}">Home</a></li>
                                    <li class="active">OUR EVENTS</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start up comming area -->
            <section class="up-comming-area  pt-90 pb-60">
                <div class="container">
                    <div class="row">
                      {% for event in eventlist %}
                        <div class="col-sm-12">
                            <div class="up-comming-events">
                                <!-- Start single event -->
                                <div class="single-event mb-90 row">
                                    <div class="col-sm-5">
                                        <div class="event-image">
                                            <img src="{{event.image.url}}" alt="">
                                    
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="event-text">
                                            <h3><a href="#">{{event.title}}</a></h3>
                                            <div class="event-time-and-place">
                                                <span class="ev-time"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{event.date}}</span>
                                                <span class="ev-place"> <i class="fa fa-map-marker" aria-hidden="true"></i> {{event.venue}}</span>
                                            </div>
                                            <p>{{event.description}}</p>
                                            <a class="btn-md bo-ra-5" href="{% url 'orgapp:eventdetail' event.pk %}">Read More</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- End single event -->
                            </div>
                         
                        </div>
                          {% endfor %}
                    </div>
                </div>
            </section>
            








{% endblock %}