{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block home %}active{% endblock %}

{% block content %}

<!-- Start slider area -->
        	<section class="slider-area">
        		<!-- start enable -->
				<div class="ma-banner7-container">
		        	<div class="container-slider">
			        	<div class="flexslider ma-nivoslider">
		        			<div class="ma-loading"></div>
							<div id="ma-inivoslider-banner7" class="slides">
					        	{% for slider in sliders %}


								<img  src="{{slider.image.url}}" style="height: 300px" alt="" title="#banner7-caption{{forloop.counter}}"/>
								{% endfor %}
							</div>

			        	{% for slider in sliders %}
							<div id="banner7-caption{{forloop.counter}}" class="banner7-caption nivo-html-caption nivo-caption">
								<div class="timethai" style=" 
									position:absolute;
									bottom:0;
									left:0;
									background-color: rgba(255, 255, 255, 0.6);
									height:5px;
									-Charitykit-animation: myfirst 5000ms ease-in-out;
									-moz-animation: myfirst 5000ms ease-in-out;
									-ms-animation: myfirst 5000ms ease-in-out;
									animation: myfirst 5000ms ease-in-out;
								   ">
							    </div>
								<div class="banner7-content slider-1 hidden-xs">
									<h1 class="title1 wow slideInRight" data-wow-duration="1s" data-wow-delay="300ms">{{slider.title}}</h1>
									<p class="wow slideInRight" data-wow-duration="1s" data-wow-delay="600ms">{{slider.caption}}</p>
								</div>
							</div>

					{% endfor %}
						</div>
		    		</div>
				</div>
		    	<!-- end enable -->
        	</section>
        	<!-- End slider area -->


  <section class="about-content-area pt-90 pb-60">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="about-content">
                                <!-- Start section title -->
                                <div class="section-title text-center">
                                    <h2>About <span>Us</span></h2>
                                    <img src="img/title-bottom.png" alt="">
                                </div>
                                <!-- End section title -->
                                <p>{{org.about_us|striptags|truncatechars:300|safe}}</p>
                                <div class="about-button btn-lg-f bo-ra-3">
                                    <a href="{% url 'orgapp:about' %}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="about-image">
                                <img src="{{org.profile_image.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>








            <!-- Start blog area -->
            <section class="blog-area pt-90 pb-90">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>LATEST  <a href="{% url 'orgapp:eventlist' %}"><span>Event</span></a></h2>
                                <img src="img/title-bottom.png" alt="">
                            </div>
                        </div>
                        <!-- End section title -->
                        <!-- Start blog -->
                        <div class="row">
                      {% for event in events|slice:3 %}
                        <div class="col-sm-12">
                            <div class="up-comming-events">
                                <!-- Start single event -->
                                <div class="single-event mb-90 row">
                                    <div class="col-sm-5">
                                        <div class="event-image">
                                           <a href="{% url 'orgapp:eventdetail' event.pk %}"> <img src="{{event.image.url}}" alt=""></a>
                                    
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="event-text">
                                            <h3><a href="{% url 'orgapp:eventdetail' event.pk %}">{{event.title}}</a></h3>
                                            <div class="event-time-and-place">
                                                <span class="ev-time"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{event.date}}</span>
                                                <span class="ev-place"> <i class="fa fa-map-marker" aria-hidden="true"></i> {{event.venue}}</span>
                                            </div>
                                            <p>{{event.description}}</p>
                                            <a class="btn-md bo-ra-5" href="{% url 'orgapp:eventdetail' event.pk %}">Read More</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- End single event -->
                            </div>
                          
                        </div>
                          {% endfor %}
                    </div>
                        <div>
                           <a href="{% url 'orgapp:eventlist' %}"> <button class="btn btn-block">More Events</button></a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End blog area -->







            <section class="our-volunteers-area pt-90 pb-90">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>OUR <a href="{% url 'orgapp:memberlist' %}"><span>Members</span></a></h2>
                                <img src="img/title-bottom.png" alt="">
                            </div>
                        </div>
                        <!-- End section title -->
                        	{% for member in members|slice:4 %}
                        <div class="our-volunteers">
                            <div class="col-sm-3">
                                <div class="single-volunteer">
                                    <div class="volunteer-image-and-social">
                                       <a href="{% url 'orgapp:memberlist' %}"><img src="{{member.image.url}}" alt="" style="height: 300px; object-fit: cover;"></a> 
                                    </div>
                                    <div class="volunteer-title text-center">
                                        <h5>{{member.name}}</h5>
                                       <!--  <p>{{member.post}}</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endfor %}   

                    </div>
                    <br>
                    <br>
                    <br>
                     <div>
                    
                           <a href="{% url 'orgapp:memberlist' %}"> <button class="btn btn-block">More Members</button></a>
                        </div>
                   

                </div>

                    
            

            </section>




            <section class="our-gallery pt-90 pb-60">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>OUR <a href="{% url 'orgapp:albumlist' %}"><span>Gallery</span></a></h2>
                                <img src="img/title-bottom.png" alt="">
                            </div>
                        </div>
                        <!-- End section title -->
                        <div class="gallery-area">
                          
                            <div id="gallery-filter">
                                <!-- Start single gallery -->
                                {% for album in albums|slice:4 %}
                                <div class="col-sm-3 mb-30 single-gallery mix all Charity Wildlife ">
									<div class="gallery-image-and-text">
										<a class=" text-center" href="{% url 'orgapp:albumdetail' album.id %}">
										<img class="img-responsive" src="{{album.image_set.first.image.url}}" alt=""  style="height: 200px;" />
											<i class="fa fa-plus-square-o" aria-hidden="true"></i>
											<p>{{album.title}}</p>
										</a>
									</div>
                                </div>

							{% endfor %}

                            </div>
                             <div>
                    
                           <a href="{% url 'orgapp:albumlist' %}"> <button class="btn btn-block">More Album</button></a>
                        </div>

                        </div>
                    </div>
                </div>
            </section>







            <!-- Start blog area -->
            <section class="blog-area pt-90 pb-90">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>LATEST FROM <span>Article</span></h2>
                                <img src="img/title-bottom.png" alt="">
                                <p>We create events aiming to spear the voice for children and gather for <br>support Please update with our events</p>
                            </div>
                        </div>
                        <!-- End section title -->
                        <!-- Start blog -->
                        <div class="blog">
                            <!-- Start single blog -->
                            {% for arti in articles|slice:4 %}
                            <div class="col-sm-4">
                                <div class="single-blog">
                                    <div class="blo-image-and-date">
                                        <img src="{{arti.image.url}}" alt="" style="object-fit: contain; height: 200px;">
                                 </div>
                                    <div class="blog-text">
                                        <h3><a href="#">{{arti.title}}</a></h3>
                                        <p>{{arti.content|truncatechars:40}}</p>
                                        <a href="#">Read More...</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <br>
                            <br>
                            <br>
                            <br>

                        </div>
                    </div>
                     <!--  <div>
                               
                    
                           <a href="{% url 'orgapp:albumlist' %}"> <button class="btn btn-block">More Album</button></a>
                        </div> -->

                </div>
            </section>
            <!-- End blog area -->











{% endblock %}