{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block member %}active{% endblock %}




{% block content %}


     
            <section class="page-title-area" style='background:rgba(0, 0, 0, 0) url("/static/clientstatic/img/about/page-banner.jpg") repeat scroll 0 0 / cover ;'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>Member</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'orgapp:home' %}">Home</a></li>
                                    <li class="active">Member</li>
                                </ol>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start our volunteers area -->
            <section class="our-volunteers-area pt-90 pb-90">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>OUR <span>Members</span></h2>
                                <img src="img/title-bottom.png" alt="">
                                <p>We create events aiming to pear to the voice for children and gather for support. <br>Please update with our events and confirm you presence.</p>
                            </div>
                        </div>
                        <!-- End section title -->
                        <div class="our-volunteers">
                        {% for memb in members %}
                            <!-- Start single volunteer -->
                            <div class="col-sm-3">
                                <div class="single-volunteer">
                                    <div class="volunteer-image-and-social">
                                        <img src="{{memb.image.url}}" alt="" style="height: 100px">
                                        <div class="volunteer-social">
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="volunteer-title text-center">
                                        <h5>{{memb.name}}</h5>
                                        <p>{{memb.post}}</p>
                                    </div>
                                </div>
                            </div>
							{% endfor %}
                        </div>
                    </div>
                </div>
            </section>

















{% endblock %}