{% extends 'clienttemplates/clientbase.html' %}


{% block content %}

     <section class="page-title-area" style='background:rgba(0, 0, 0, 0) url("/static/clientstatic/img/about/page-banner.jpg") repeat scroll 0 0 / cover ;'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>Publication</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'orgapp:home' %}">Home</a></li>
                                    <li class="active">Publication</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start our blog area -->
            <section class="our-blog-area pt-90 pb-60">
                <div class="container">
                    <div class="row">
                    	{% for publ in publicationlist %}
                        <!-- Start blog -->
                        <div class="blog">
                            <!-- Start single blog -->
                            <div class="col-sm-4">
                                <div class="single-blog mb-30">
                                    <div class="blo-image-and-date">
                                        <img src="{{publ.image.url}}" alt="" style="height:150px">
                                    </div>
                                    <div class="blog-text">
                                        <h3><a href="#">{{publ.title}}</a></h3>
                                        <p>{{publ.content|truncatechars:30}}</p>
                                        <a href="{% url 'orgapp:publicationdetail' publ.pk %}">Read More...</a>
                                    </div>
                                </div>
                            </div>



                            <!-- End single blog -->
                        </div>
                        <!-- End blog -->
                 
                        {% endfor %}
                    </div>
                </div>
            </section>












{% endblock %}