{% extends 'admintemplates/adminbase.html' %}

{% block content %}
              <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Event Create</h4>
                    <hr>
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Title</label>
                                {{form.title}}
                              
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Image</label>
                               {{form.image}}
                            </div>
                             <div class="form-group col-md-4">
                                <label for="inputPassword4">Date</label>
                               {{form.date}}
                            </div>
                        </div>
                           <div class="form-group">
                            <label for="inputAddress2">Venue</label>
                            {{form.venue}}
                        
                        </div>
                       
                        <div class="form-group">
                            <label for="inputAddress2">Description</label>
                            {{form.description}}
                        
                        </div>
                      
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>



{% endblock %}