{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block member %}active{% endblock %}
{% block content %}

        
   <!-- Tables content -->
            <section class="tables-section">
                <!-- table1 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Member List</h4>
                     <a href="{% url 'orgapp:adminmembercreate' %}"  style="font-size: 40px;margin-left: 1200px"><span class="fas fa-plus-circle text-primary"></span></a>
                    <table class="table" id="orginfo">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Member Type</th>
                                <th scope="col">Post</th>
                                <th scope="col">Image</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Email</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for mem in memberlist %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{mem.name}}</td>
                                <td>{{mem.member_type}}</td>
                                <td>{{mem.post}}</td>
                                <td><img src="{{mem.image.url}}" width="50px"></td>
                                <td>{{mem.mobile}}</td>
                                <td>{{mem.email}}</td>
                                   <td>
                                    <a href="{% url 'orgapp:adminmemberupdate' mem.pk %}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'orgapp:adminmemberdelete' mem.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% block js %}
               <script type="text/javascript">
                $(document).ready(function() {
                $('#orginfo').DataTable();
                });

    </script>
    {% endblock %}





{% endblock %}