
{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block contact %}active{% endblock %}
{% block content %}

          
   <!-- Tables content -->
            <section class="tables-section">
                <!-- table1 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Message List</h4>
                    <table class="table" id="orginfo">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Email</th>
                                <th scope="col">subject</th>
                                <th scope="col">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for publ in messagelist %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{publ.name}}</td>
                                <td>{{publ.mobile}}</td>
                                <td>{{publ.email}}</td>
                                <td>{{publ.subject}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{forloop.counter}}">
                                      View
                                    </button>
                            
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Message</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            {{publ.message}}
                                          </div>
                                       <!--    <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                          </div> -->
                                        </div>
                                      </div>
                                    </div>
                                     
                                    
                                 
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% block js %}
               <script type="text/javascript">
                $(document).ready(function() {
                $('#orginfo').DataTable();
                });

                
    </script>
    {% endblock %}





{% endblock %}