{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block image %}active{% endblock %}
{% block content %}

          
   <!-- Tables content -->
            <section class="tables-section">
                <!-- table1 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Image List</h4>
                     <a href="{% url 'orgapp:adminimagecreate' %}"  style="font-size: 40px;margin-left: 1200px"><span class="fas fa-plus-circle text-primary"></span></a>
                    <table class="table" id="orginfo">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Album</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for publ in imagelist %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{publ.album}}</td>
                                <td><img src="{{publ.image.url}}" width="50px"></td>
                                 <td>
                                    <a href="{% url 'orgapp:adminimageupdate' publ.pk %}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'orgapp:adminimagedelete' publ.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% block js %}
               <script type="text/javascript">
                $(document).ready(function() {
                $('#orginfo').DataTable();
                });

    </script>
    {% endblock %}





{% endblock %}