{% extends 'admintemplates/adminbase.html' %}


{% block content %}
<h3>Publication Delete</h3>
<form method="POST">
	{% csrf_token %}
<p>Are you sure you want to delete?</p>
<button class="btn btn-danger">Yes</button>
<a href="/admin/publication/list/" class="btn btn-primary">No</a>

</form>

{% endblock %}