{% extends 'admintemplates/adminbase.html' %}

{% block content %}


                    <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Organization Information</h4>
                    <hr>
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Name</label>
                                {{form.name}}
                              
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Address</label>
                               {{form.address}}
                            </div>
                        </div>
                           <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Logo</label>
                                {{form.logo}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Profile Picture</label>
                               {{form.profile_image}}
                            </div>
                        </div>
                              <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Slogan</label>
                                {{form.slogan}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Vat Pan</label>
                                   {{form.vat_pan}}
                            </div>
                        </div>
                           <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Contact No</label>
                                {{form.contact_no}}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputPassword4">Alt Contact No</label>
                                    {{form.alt_contact_no}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Map Location</label>
                                    {{form.map_location}}
                            </div>
                        </div>
                         <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                {{form.email}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Alt Email</label>
                              
                               {{form.alt_email}}
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <label for="inputAddress">About Us</label>
                            {{form.about_us}}
                     </div>
                        <div class="form-group">
                            <label for="inputAddress2">Constitution</label>
                            {{form.constitution}}
                        
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCity">Facebook</label>
                                {{form.facebook}}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Instagram</label>
                                {{form.instagram}}
                               
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputZip">Youtube</label>
                                {{form.youtube}}
                            </div>
                        </div>
                             <div class="form-group">
                            <label for="inputAddress">Privacy Policy</label>
                            {{form.privacy_policy}}
                     </div>
                        <div class="form-group">
                            <label for="inputAddress2">Terms and Conditions</label>
                            {{form.terms_and_conditions}}
                        
                        </div>
                      
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>

              
                

{% endblock %}