{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block organization %}active{% endblock %}

{% block content %}

        
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                     <h3 style="text-align: center;">Organization</h3>
                                    <div class="card-body">
                                        <a  class="btn btn-success float-right" href="{% url 'orgapp:adminorganizationupdate' org.pk %}"> Update Information</a>
                                        <br>
                                        <br>
                                        <table class="table table-striped table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th colspan="2">Organization Information</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>Name</th>
                                                    <td>{{org.name}}</td>  
                                                </tr>
                                                <tr>
                                                    <th>Adress</th>
                                                    <td>{{org.address}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Contact Number</th>
                                                    <td>{{org.contact_no}}</td>
                                                </tr>
                                                  <tr>
                                                    <th>Alternative Contact Number</th>
                                                    <td>{{org.alt_contact_no}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Email</th>
                                                    <td>{{org.email}}</td>
                                                </tr>
                                                    <tr>
                                                    <th>Alt Email</th>
                                                    <td>{{org.alt_email}}</td>
                                                </tr>

                                                <tr>
                                                    <th>Profile Image</th>
                                                    <td><img src="{{org.profile_image.url}}" width="50px"></td>
                                                </tr>
                                                  <tr>
                                                    <th>Logo</th>
                                                    <td><img src="{{org.logo.url}}" width="50px"></td>
                                                </tr>
                                                  <tr>
                                                    <th>Vat Pan</th>
                                                    <td>{{org.vat_pan}}</td>
                                                </tr>
                                                    <tr>
                                                    <th>Slogan</th>
                                                    <td>{{org.slogan}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Facebook</th>
                                                    <td>{{org.facebook}}</td>
                                                </tr>
                                                   <tr>
                                                    <th>Twitter</th>
                                                    <td>{{org.twitter}}</td>
                                                </tr>
                                                   <tr>
                                                    <th>Instagram</th>
                                                    <td>{{org.instagram}}</td>
                                                </tr>
                                                   <tr>
                                                    <th>Privacy Policy</th>
                                                    <td>{{org.privacy_policy}}</td>
                                                </tr>
                                                   <tr>
                                                    <th>Terms and Condition</th>
                                                    <td>{{org.terms_and_conditions}}</td>
                                                </tr>




                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

























                {% block js %}
           <!--     <script type="text/javascript">
                $(document).ready(function() {
                $('#orginfo').DataTable();
                });

    </script> -->
    {% endblock %}





{% endblock %}