
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Modernize an Admin Panel Category Bootstrap Responsive Web Template | Tables :: w3layouts</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Modernize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->

    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="{% static 'adminstatic/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <!-- Common Css -->
    <link href="{% static 'adminstatic/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="{% static 'adminstatic/css/style4.css' %}">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="{% static 'adminstatic/css/fontawesome-all.css' %}" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->

    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
   
    <!--//web-fonts-->
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1>
                    <a href="{% url 'orgapp:adminorganization' %}" class="active">Marigold CMS </a>
                </h1>
                <span>M</span>
            </div>
            <div class="profile-bg"></div>
            <ul class="list-unstyled components">
                <li class="{% block organization %} {% endblock %}">
                    <a href="/admin/organization/">
                        <i class="fas fa-th-large"></i>
                        Dashboard
                    </a>
                </li>
               <!--  <li>
                    <a href="{% url 'orgapp:adminorganization' %}">
                        <i class="fas fa-laptop"></i>
                        Organization Information
                    </a>
                </li>
 -->                <li class="{% block member %} {% endblock %}">
                    <a href="{% url 'orgapp:adminmemberlist' %}">
                        <i class="fas fa-users"></i>
                        Member 
                    </a>
                </li>
                <li class="{% block slider %} {% endblock %}">
                    <a href="{% url 'orgapp:adminsliderlist' %}">
                        <i class="fas fa-sliders-h"></i>
                        Slider
                    </a>
                </li>
                <li class="{% block publication %} {% endblock %}">
                    <a href="{% url 'orgapp:adminpublicationlist' %}">
                        <i class="far fa-file"></i>
                        Publication
                    </a>
                </li>
                <li class="{% block download %} {% endblock %}">
                    <a href="{% url 'orgapp:admindownloadlist' %}">
                        <i class="fas fa-download"></i>
                        Download
                    </a>
                    
                </li>

                <li class="{% block album %} {% endblock %}">
                      <a href="{% url 'orgapp:adminalbumlist' %}">
                        <i class="far fa-images"></i>
                        Album
                    </a>
                </li>
                <li class="{% block image %} {% endblock %}">
                    <a href="{% url 'orgapp:adminimagelist' %}">
                        <i class="fas fa-file-image"></i>
                        Image
                    </a>
                </li>
                <li class="{% block article %} {% endblock %}">
                    <a href="{% url 'orgapp:adminarticlelist' %}">
                        <i class="fas fa-newspaper"></i>
                        Article
                    </a>
                </li>
                  <li class="{% block event %} {% endblock %}">
                    <a href="{% url 'orgapp:admineventlist' %}">
                        <i class="fas fa-calendar-check"></i>
                        Event
                    </a>
                </li>
                   <li class="{% block contact %} {% endblock %}">
                    <a href="{% url 'orgapp:admincontactlist' %}">
                        <i class="fas fa-envelope"></i>
                        Message
                    </a>
                </li>

                  <li>
                    <a href="/signout/">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </li>




          <!--       {% if request.user.is_authenticated  %}
                <li style="color: white;">
                 <p>Logged in as : {{request.user}}</p>
             </li>
             <li>
                <p><a href="{% url 'orgapp:signout' %}"> Logout</a></p>
            </li>
            {% endif %} -->
            </ul>
        </nav>


          <!-- Page Content Holder -->
        <div id="content">
            <!-- top-bar -->
            <nav class="navbar navbar-default mb-xl-5 mb-4">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <!-- Search-from -->
                  
                    <!--// Search-from -->
                    <ul class="top-icons-agileits-w3layouts float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu drop-3">
                                <div class="profile d-flex mr-o">
                                    <div class="profile-l align-self-center">
                                        <img src="{% static 'adminstatic/images/profile.jpg' %}" class="img-fluid mb-3" alt="Responsive image">
                                    </div>
                                    <div class="profile-r align-self-center">
                                         {% if request.user.is_authenticated %}
                                         <div class="nav-link">Logged in as: <span class="text-dark">{{request.user}}</span></div>
                                             <div class="nav-item ">
                                            <a class="" href= '/signout/'>Sign out</a></div>
                                            <a class="" href= '/admin/password/change'>changepassword</a>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--// top-bar -->

            


                   <section class="pricing3 mb-5">
                    <h4 class="tittle-w3-agileits mb-4">Organization Information</h4>
                    <div class="card-deck text-center row">
                        <div class="card box-shadow col-xl-3 col-md-6" style="height: 200px">
                            <div class="card-header">
                                <h4 class="py-md-3 py-2 text-white text-white">Member</h4>
                                <h5 class="card-title pricing-card-title text-white">
                                    {{member}}
<!--                                     <span class="d-block">Per Month</span>
 -->                                </h5>
                            </div>
                          <!--   <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li class="py-2 text-white">{{mem.name}}</li>
                                    <li class="py-2 my-2 text-white">Branding Services</li>
                                    <li class="py-2 text-white">Online Marketing</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-outline-primary py-2 price3-btn" data-toggle="modal" data-target="#exampleModal">Contact Us</button>
                            </div> -->
                        </div>
                        <div class="card box-shadow col-xl-3 col-md-6 my-lg-0 my-3">
                            <div class="card-header">
                                <h4 class="py-md-3 py-2 text-white">Album</h4>
                                <h5 class="card-title pricing-card-title text-white">
                                    {{album}}
<!--                                     <span class="d-block">Per Month</span>
 -->                                </h5>
                            </div>
                           <!--  <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li class="py-2 text-white">{{album}}</li>
                                    <li class="py-2 my-2 text-white">Branding Services</li>
                                    <li class="py-2 text-white">Online Marketing</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-outline-primary py-2 price3-btn" data-toggle="modal" data-target="#exampleModal">Contact Us</button>
                            </div> -->
                        </div>
                        <div class="card box-shadow col-xl-3 col-md-6 mt-lg-0 mt-3">
                            <div class="card-header">
                                <h4 class="py-md-3 py-2 text-white">Article</h4>
                                <h5 class="card-title pricing-card-title text-white">
                                     {{article}}
<!--                                     <span class="d-block">Per Month</span>
 -->                                </h5>
                            </div>
                          <!--   <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li class="py-2 text-white">Advertising</li>
                                    <li class="py-2 my-2 text-white">Branding Services</li>
                                    <li class="py-2 text-white">Online Marketing</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-outline-primary py-2 price3-btn" data-toggle="modal" data-target="#exampleModal">Contact Us</button>
                            </div> -->
                        </div>
                        <div class="card box-shadow col-xl-3 col-md-6">
                            <div class="card-header">
                                <h4 class="py-md-3 py-2 text-white">Event</h4>
                                <h5 class="card-title pricing-card-title text-white">
                                 {{event}}
<!--                                     <span class="d-block">Per Month</span>
 -->                                </h5>
                            </div>
                           <!--  <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li class="py-2 text-white">Advertising</li>
                                    <li class="py-2 my-2 text-white">Branding Services</li>
                                    <li class="py-2 text-white">Online Marketing</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-outline-primary py-2 price3-btn" data-toggle="modal" data-target="#exampleModal">Contact Us</button>
                            </div> -->
                        </div>
                    </div>
                </section>



             {% block content %}
             {% endblock %}                  
     </div>
    </div>

















            <!--// Tables content -->

            <!-- Copyright -->
            <div class="copyright-w3layouts py-xl-3 py-2 mt-xl-5 mt-4 text-center">
                <p>© {% now 'Y' %} Sarobar Technology . All Rights Reserved | Design by
                    <a href="http://www.sarobartechnology.com/"> Sarobar Technology </a>
                </p>
            </div>
            <!--// Copyright -->
        </div>
    </div>


    <!-- Required common Js -->
    <script src='{% static "adminstatic/js/jquery-2.2.3.min.js" %}'></script>
    <!-- //Required common Js -->

    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- Js for bootstrap working-->
    <script src="{% static 'adminstatic/js/bootstrap.min.js' %}"></script>
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <!-- //Js for bootstrap working -->
    
   {% block js %}
   {% endblock %}
    

</body>

</html>