{% extends 'admintemplates/adminbase.html' %}

{% block content %}

   <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Member Update</h4>
                    <hr>
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Name</label>
                                {{form.name}}
                              
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Member Type</label>
                               {{form.member_type}}
                            </div>
                               <div class="form-group col-md-4">
                                <label for="inputEmail4">Post</label>
                                {{form.post}}
                              
                            </div>
                        </div>
                           <div class="form-row">
                         
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Image</label>
                               {{form.image}}
                            </div>
                        </div>
                           <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Mobile</label>
                                {{form.mobile}}
                              
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Email</label>
                               {{form.email}}
                            </div>
                        </div>
                    
                       
                        <div class="form-group">
                            <label for="inputAddress2">About</label>
                            {{form.about}}
                        
                        </div>
                      
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>



{% endblock %}