{% extends 'admintemplates/adminbase.html' %}

{% block content %}

      <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Download Create</h4>
                    <hr>
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Title</label>
                                {{form.title}}
                              
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Short Detail</label>
                               {{form.short_details}}
                            </div>
                        </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">File</label>
                                {{form.file}}
                              
                            </div>
                        </div>
                       
                      
                      
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>

{% endblock %}