/*-----------------------------------------------------------------------------------

  Template Name: Organization Name 
  Template URI: http://bootexperts.com
  Description: This is html5 template
  Author: BootExperts
  Author URI: http://bootexperts.com
  Version: 1.0

-----------------------------------------------------------------------------------
    
  CSS INDEX
  ===================
	
	1. Theme default CSS
	2. Header CSS
	3. Slider CSS
	4. Our couses area CSS
	5. Help us area CSS
	6. Our-gallery CSS
	7. Countdown area CSS
	8. Our volunteers area CSS
	9. People says area CSS
	10. Blog area CSS
	11. Brand logo CSS
	12. footer top CSS
	13. About us CSS
	14. Blog CSS
	15. Contact CSS
	16. Couses page CSS
	17. Up comming events CSS
	18. Error page area CSS
	19. Blog details CSS
	20. Blog details sidebar right CSS
    
-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1. Theme default CSS
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700|Roboto:400,700');
@font-face {
    font-family: 'latomedium';
    src: url('fonts/lato-medium-webfont.woff2') format('woff2'),
         url('fonts/lato-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-family: 'Raleway', sans-serif;
}
a {transition: all 0.3s ease 0s;text-decoration:none;color:#777}
a:hover {
  color: #0AAAA0;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
  color: #0AAAA0;
}
.np{
  padding: 0px;
}
.npl{
  padding-left: 0px;
}
.npr{
  padding-right: 0px;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
/* section padding */
.ptb-32{
  padding: 27px 0px;
}
.pt-170{padding-top: 170px;}
.pb-170{padding-bottom: 170px;}
.ptb-114{padding: 114px 0px;}
.pt-90{padding-top: 90px;}
.pb-90{padding-bottom: 90px;}
.pt-80{padding-top: 80px;}
.pb-80{padding-bottom: 86px;}
.pb-70{padding-bottom: 70px;}
.pb-60{padding-bottom: 60px;}
.pt-60{padding-top: 60px;}
.pt-54{padding-top: 54px;}
.pb-20{padding-bottom: 30px;}
.pt-50{
  padding-top: 50px;
}
.pb-50{
  padding-bottom: 50px;
}
.clear{clear:both}
/* margin */
.mb-30{
  margin-bottom: 30px;
}
.mb-90{
  margin-bottom: 90px;
}
/* border-radious */
.bo-ra-10{
  border-radius: 10px;
}
.bo-ra-9{
  border-radius: 9px;
}
.bo-ra-8{
  border-radius: 8px;
}
.bo-ra-7{
  border-radius: 7px;
}
.bo-ra-6{
  border-radius: 6px;
}
.bo-ra-5{
  border-radius: 5px;
}
.bo-ra-4{
  border-radius: 4px;
}
.bo-ra-3{
  border-radius: 3px;
}
.bo-ra-2{
  border-radius: 2px;
}
.bo-ra-1{
  border-radius: 1px;
}
/* Button style */
.btn-lg {
  border: 1px solid #fff;
  color: #fff;
  font-family: raleway;
  font-size: 13.5px;
  font-weight: bold;
  padding: 10px 12px;
}
.btn-lg:hover{
  background: #0AAAC0;
  color: #fff;
  border: 1px solid #0AAAC0;
}
.btn-md {
  border: 1px solid #555;
  color: #555;
  font-family: raleway;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 25px;
  text-transform: uppercase;
}
.btn-md:hover{
  background: #0AAAC0;
  color: #fff;
  border: 1px solid #0AAAC0;
}
.btn-sm {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: raleway;
  font-size: 12px;
  font-weight: bold;
  line-height: 35px;
  padding: 0 10px;
  text-transform: uppercase;
}
.btn-sm:hover{
  background: #0AAAC0;
  color: #fff;
  border: 1px solid #0AAAC0;
}
.btn-lg-f{
  border: 1px solid #fff;
  background: #0AAAC0;
  display: inline-block;
  font-family: raleway;
  font-size: 12px;
  font-weight: bold;
  line-height: 35px;
  padding: 0 10px;
  text-transform: uppercase;
}
.btn-lg-f a{
  color: #fff;
}
.btn-lg-f:hover{
  border: 1px solid #666;
  background: transparent;
}
.btn-lg-f:hover a{
  color: #666;
}
/*----------------------------------------*/
/*  2. Header CSS
/*----------------------------------------*/
.header-top {
  background: #0aaaa0 none repeat scroll 0 0;
  line-height: 40px;
}
.top-social ul li {
  float: left;
  padding: 0 7.5px;
}
.top-social ul li:first-child {
  padding-left: 0;
}
.top-social ul li a {
  font-family: "Roboto",sans-serif;
  font-size: 12px;
  color: #fff;
}
.call-to-action {
  float: right;
}
.call-to-action > ul {
  float: right;
}
.call-to-action ul li {
  float: left;
}
.call-to-action ul li:last-child {
  float: right;
}
.call-to-action ul li a {
  font-size: 12px;
  padding: 0 10px;
  color: #fff;
}
.call-to-action ul li a i {
  margin-right: 7px;
}
.call-to-action ul li:last-child a{
  padding-right: 0px;
}
.call-to-action ul li:last-child a i{
  margin-right: 0;
}
.call-to-action ul li ul li {
  border-bottom: 1px solid #fff;
  float: none;
  line-height: 25px;
}
.call-to-action ul li ul li:last-child{
  border-bottom: none;
}
.call-to-action ul li ul li a {
  color: #fff;
  padding: 0;
}
.call-to-action ul li ul {
  background: #0aaaa0 none repeat scroll 0 0;
  opacity: 0;
  padding: 0 10px;
  position: absolute;
  right: 15px;
  top: 100%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  z-index: 999;
}
.call-to-action ul li:hover ul{
  opacity: 1;
  visibility: visible;
}
/* main menu css */
.main-menu-area {
  background: #fff none repeat scroll 0 0;
}
.main-menu ul li {
  float: left;
  padding: 47px 23px;
  position: relative;
}
.main-menu ul li.mega-menu {
  position: static;
}
.main-menu ul li a {
  color: #444;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  padding: 7px 0;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
.main-menu ul li:hover a{
  color: #0aaaa0;
  border-bottom: 2px solid #0aaaa0;
}
/* megamenu css */
.mega-menu-area {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 2px solid #0aaaa0;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  left: 0;
  opacity: 0;
  padding-bottom: 10px;
  position: absolute;
  text-align: left;
  top: 130%;
  transform-origin: 0 0 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}
.main-menu li:hover .mega-menu-area {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.mega-menu .mega-menu-area .single-mega-item {
  float: left;
  padding: 0 15px;
  width: 25%;
}
.main-menu li .mega-menu-area .single-mega-item li {
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  width: 100%;
}
.single-mega-item li{
  display: block;
}
.single-mega-item li a {
  display: block;
  padding: 13px 0;
}
.main-menu li:hover .single-mega-item li a{
  border-bottom: medium none;
  color: #444;
}
.main-menu li:hover .single-mega-item li:hover{
  border-bottom: 1px solid #0AAAA0;
}
.main-menu li:hover .single-mega-item li a:hover {
  color: #0AAAA0;
}
/* drop-menu menu css */
.drop-menu {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 2px solid #0aaaa0;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 130%;
  transform-origin: 0 0 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 250px;
  z-index: 10;
}
.main-menu li .drop-menu li {
  border-bottom: 1px solid #e5e5e5;
  display: block;
  float: none;
  padding: 0;
}
.main-menu li:hover .drop-menu li a{
  border-bottom: medium none;
  color: #444;
}
.main-menu li:hover .drop-menu li:hover{
  border-bottom: 1px solid #41C3AC;
}
.main-menu li:hover .drop-menu li a:hover{
  color: #41C3AC;
}
.main-menu li .drop-menu li a {
  display: block;
  padding-left: 15px;
}
.drop-menu li a:hover{
  border-bottom: 1px solid #0AAAA0;
  color: #0AAAA0;
}
.main-menu li:hover .drop-menu li:last-child a:hover{
  border-bottom: 0px solid #0AAAA0;
}
.main-menu li:hover .drop-menu {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.main-menu ul li ul.single-mega-item li.shortcode-title {
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  text-transform: uppercase;
}
/* domate button css */
.donate-button {
  float: right;
  margin-top: 19px;
}
.donate-button > a {
  background: #0aaaa0 none repeat scroll 0 0;
  border: 1px solid #0aaaa0;
  color: #fff;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  text-transform: uppercase;
}
.donate-button > a:hover{
  border: 1px solid #555;
  background: transparent;
  color: #444;
}
.stick {
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 1px solid #eeeeee;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9990;
}
.stick .main-menu ul li {
  padding: 18px 23px;
}
.stick .main-menu ul li .drop-menu li{
  padding: 0;
}
.stick .ptb-32 {
  padding: 10px 0;
}
.stick .logo.ptb-32 img {
  width: 130px;
}
.stick .donate-button {
  margin-top: 9px;
}
/* mobile menu css */
.mobile-menu-area{
  display: none;
}
.mobile-menu-area {
  background: #424141 none repeat scroll 0 0;
}
.meanmenu-reveal {
  float: right;
}
.mean-bar {
  position: relative;
}
.mean-bar::after {
  color: #fff;
  content: "menu";
  display: block;
  font-size: 16pt;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 12px;
}
.main-menu ul li.active a{
  color: red;
}
/*----------------------------------------*/
/*  3. Slider CSS
/*----------------------------------------*/
.slider-area {
  position: relative;
}
.nivo-caption {
  background: transparent none repeat scroll 0 0;
  bottom: 0;
  box-sizing: border-box;
  color: #000;
  display: none;
  left: 15%;
  opacity: 0.8;
  overflow: hidden;
  padding: 5px 10px;
  position: absolute;
  top: 37%;
  width: 50%;
  z-index: 8;
}
h1.title1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.nivo-caption p {
  color: #fff;
  font-family: roboto;
  font-size: 15px;
  margin-bottom: 40px;
  margin-top: 18px;
}
.slider-button-area a {
  margin-right: 15px;
}
.nivo-directionNav a {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  color: #fff;
  top: 52%;
  z-index: 9;
}
.nivo-prevNav .left {
  margin-left: 160px;
}
.nivo-prevNav .left:hover i{
  color: #0AAAA0;
}
.nivo-nextNav .right {
  margin-right: 160px;
}
.nivo-nextNav .right:hover i{
  color: #0AAAA0;
}
.slider-area .nivo-controlNav {
  bottom: 0;
  left: 48%;
  position: absolute;
  z-index: 9;
}
.slider-area .nivo-controlNav a.active, .slider-area .nivo-controlNav a:hover {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 3px #0AAAA0 inset;
}
.slider-area .nivo-controlNav a {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 100%;
  box-shadow: 0 0 0 3px #acacac inset;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  height: 13px;
  margin: 0 3px;
  width: 13px;
}
/*----------------------------------------*/
/*  4. Our couses area CSS
/*----------------------------------------*/
/* section title */
.section-title {
  margin-bottom: 40px;
}
.section-title h2 {
  color: #1b1b1b;
  font-family: raleway;
  font-size: 36px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 11px;
  text-transform: uppercase;
}
.section-title h2 span {
  color: #0aaaa0;
}
.section-title.text-center > p {
  color: #333333;
  font-size: 15px;
  margin-top: 10px;
}
/* single couses */
.single-couses {
  display: block;
  margin-bottom: -5px;
  overflow: hidden;
}
.single-couses-image-text {
  transition: all 0.3s ease 0s;
}
.single-couses:hover .single-couses-image-text {
  box-shadow: 0 0 10px 0 #999;
}
.couses-text {
  background: #f1f1f1 none repeat scroll 0 0;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 40px 25px;
}
.couses-text h3 {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
}
.couses-text.text-center > p {
  color: #333;
  font-family: roboto;
  font-size: 13px;
  margin-bottom: 0;
}
.couses-button {
  float: left;
  width: 40%;
}
.couses-price {
  float: right;
  width: 60%;
}
.couses-price h5 {
  color: #555;
  float: right;
  font-family: roboto;
  font-size: 16px;
  font-weight: bold;
}
/*----------------------------------------*/
/*  5. Help us area CSS
/*----------------------------------------*/
.help-us-area {
  background: rgba(0, 0, 0, 0) url("img/help-us-bg.jpg") repeat fixed 0 0;
  color: #fff;
}
.section-title-style-two.text-center {
  margin-bottom: 75px;
}
.section-title-style-two.text-center > h2 {
  font-size: 36px;
  font-weight: bold;
}
/* help-icon */
.help-icon {
  border: 1px solid #0aaac0;
  float: left;
  margin-right: 30px;
  text-align: center;
  width: 50px;
}
.help-icon i {
  font-size: 25px;
  line-height: 50px;
}
/* help-text */
.help-text {
  float: right;
  width: 270px;
}
.help-text > h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.help-text > p {
  margin-bottom: 25px;
}
/*----------------------------------------*/
/*  6. Our-gallery CSS
/*----------------------------------------*/
/* gallery-menu */
.gallery-menu {
  margin-bottom: 17px;
}
.gallery-menu ul li {
  color: #1b1b1b;
  cursor: pointer;
  display: inline-block;
  font-family: raleway;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease 0s;
}
.gallery-menu ul li:hover,
.gallery-menu ul li.active{
  color: #0AAAA0;
}
/* gallery-images */
.mix{
    display: none;
}
.gallery-image-and-text {
  position: relative;
}
.image-link {
  background: rgba(10, 170, 160, 0.68) none repeat scroll 0 0;
  bottom: 15px;
  left: 15px;
  opacity: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s ease 0s;
}
.image-link i {
  color: #ffffff;
  font-size: 32px;
  margin-top: 46%;
}
.image-link p {
  color: #ffffff;
  font-family: raleway;
  font-size: 15px;
  font-weight: bold;
  line-height: 31px;
  text-decoration: none;
  text-transform: uppercase;
}
.gallery-image-and-text:hover .image-link{
  opacity: 1;
}
/*----------------------------------------*/
/*  7. Countdown area CSS
/*----------------------------------------*/
.countdown-area {
  background: rgba(0, 0, 0, 0) url("img/count-down-bg.jpg") repeat scroll 0 0;
}
.countdown-side-area {
  margin-top: 35px;
}
.countdown-icon {
  color: #ffffff;
  float: left;
  width: 50px;
}
.countdown-icon i {
  font-size: 24px;
  margin-top: 12px;
}
.countdown-text {
  float: right;
  width: 300px;
}
.countdown-text > h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
}
.countdown-text > p {
  color: #ffffff;
  font-size: 18px;
}
.count-down .table-cell {
  float: left;
  margin: 0 42px;
  text-align: center;
}
.count-down .tab-val {
  background: #0aaac0 none repeat scroll 0 0 padding-box content-box;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: roboto;
  font-size: 24px;
  font-weight: bold;
  height: 96px;
  line-height: 85px;
  padding: 3px;
  width: 96px;
}
.count-down .tab-metr {
  color: #ffffff;
  font-family: roboto;
  font-size: 15px;
  margin-top: 8px;
  text-transform: uppercase;
}
/*----------------------------------------*/
/*  8. Our volunteers area CSS
/*----------------------------------------*/
.volunteer-image-and-social {
  position: relative;
}
.volunteer-social {
  background: rgba(10, 170, 192, 0.65) none repeat scroll 0 0;
  height: 0%;
  left: 0;
  line-height: 339px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.6s ease 0s;
  width: 100%;
  opacity: 0;
}
.volunteer-social > a i {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin: 0 8px;
  transition: all 0.3s ease 0s;
  width: 35px;
}
.volunteer-social > a i:hover{
  color: #333;
  border: 1px solid #333;
}
.single-volunteer:hover .volunteer-social{
  opacity: 1;
  height: 100%;
}
.volunteer-title.text-center {
  margin-top: 15px;
}
.volunteer-title.text-center > h5 {
  color: #444444;
  font-family: roboto;
  font-size: 18px;
  margin-bottom: 0;
}
.volunteer-title.text-center > p {
  color: #444444;
  font-size: 14px;
  margin: 0;
}
/*----------------------------------------*/
/*  9. People says area CSS
/*----------------------------------------*/
.people-says-area {
  background: rgba(0, 0, 0, 0) url("img/peopule-say-bg.jpg") repeat scroll 0 0 / cover ;
}
.single-people {
  margin: auto;
  width: 55%;
}
.people-asy-title > h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
}
.people-say-image {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 25px;
  margin-top: 70px;
  padding-bottom: 15px;
}
.people-say-image > img {
  border: 2px solid #0aaaa0;
  border-radius: 100%;
  height: 115px;
  width: 115px;
}
.peoplp-say-text.text-center > p {
  color: #ffffff;
  font-size: 14px;
}
.peoplp-say-text.text-center > h5 {
  color: #ffffff;
  font-family: roboto;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-top: 23px;
}
.peoplp-say-text h6 {
  color: #ffffff;
  font-family: roboto;
  font-size: 14px;
}
.people-say-slide .owl-controls .owl-buttons {
  margin-top: inherit;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}
.people-say-slide .owl-prev {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  left: -40px;
  position: absolute;
}
.people-say-slide .owl-next {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  position: absolute;
  right: -40px;
}
.icon-left-open {
  font-size: 30px;
}
.icon-right-open {
  font-size: 30px;
}
/* home youtube background */
.height-100vh {
  height: 100vh;
}
.buttonBar {
  display: none;
}
.youtube-bg-overlay {
  background: rgba(0, 0, 0, 0.68); 
  width: 100%;
  height: 100%;
}
.youtube-text {
  width: 50%;
  margin: auto;
  padding-top: 15%;
}
.youtube-text p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 35px;
}
.center-menu .main-menu {
  margin: 0 auto;
  width: 57%;
}
.center-menu .main-menu ul li {
  display: inline;
  padding: 0 23px 35px;
}
.center-menu .main-menu ul li .drop-menu li {
  display: inline;
  padding: 0;
}
.center-menu .donate-button {
  display: none;
}
/*----------------------------------------*/
/*  10. Blog area CSS
/*----------------------------------------*/
.single-blog {
  border: 1px solid #efefef;
  overflow: hidden;
  padding-bottom: 15px;
  transition: all 0.3s ease 0s;
}
.single-blog:hover {
  box-shadow: 0 8px 16px 1px #ccc;
}
.blo-image-and-date {
  position: relative;
}
.blo-image-and-date > a {
  background: #0aaac0 none repeat scroll 0 0;
  color: #fff;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  line-height: 70px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 75px;
}
.blog-info {
  padding: 11px 15px 31px;
}
.admin {
  width: 50%;
  float: left;
}
.comment {
  float: right;
  text-align: right;
  width: 50%;
}
.admin > a {
  color: #888;
  font-size: 14px;
}
.admin a i,
.comment a i {
  margin-right: 4px;
}
.comment a:hover i,
.admin > a:hover i{
  color: #0AAAC0;
}
.comment > a {
  border-right: 1px solid;
  color: #888;
  padding: 0 7.5px;
}
.comment > a:last-child{
  border-right: 0px solid;
  padding-right: 0px;
}
.blog-text {
  padding: 15px;
}
.blog-text h3 a {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
}
.blog-text h3 a:hover{
  color: #0AAAA0;
}
.blog-text > p {
  color: #333;
  font-size: 14px;
}
.blog-text > a {
  border-bottom: 1px solid #333;
  color: #333;
  float: right;
  font-family: lato;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
}
.blog-text > a:hover{
  color: #0AAAC0;
  border-bottom: 1px solid #0AAAC0;
}
/*----------------------------------------*/
/*  11. Brand logo CSS
/*----------------------------------------*/
.b-logo {
  border: 1px solid #f2f2f2;
  padding: 30px 18px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.b-logo:hover {
  box-shadow: 0 0 5px 3px #eaeaea;
}
/*----------------------------------------*/
/*  12. footer top CSS
/*----------------------------------------*/
.footer-top {
  background: #232323 none repeat scroll 0 0;
}
/* widget title */
.footer-widget-title > h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 45px;
  position: relative;
}
.footer-widget-title > h3::after {
  background: #0aaac0 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  top: 140%;
  width: 30px;
}
/* widget one */
.widget-about-content > p {
  color: #fff;
}
.widget-contact-content > h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.widget-contact-content > a {
  color: #fff;
  display: block;
  line-height: 25pt;
}
.widget-contact-content > p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}
/* widget two */
.footer-widget.widget-two li::after {
  color: #fff;
  content: "\f105";
  font-family: fontawesome;
  left: 0;
  position: absolute;
  padding-left: 15px;
}
.footer-widget.widget-two a {
  color: #fff;
}
.footer-widget.widget-two li {
  margin-bottom: 12px;
  margin-left: 15px;
}
.footer-widget.widget-two li:hover::after{
  color: #0E9CB1;  
}
.footer-widget.widget-two a:hover{
  color: #0E9CB1;
}
/* widget four */
.newslater {
  margin-top: 39px;
}
.newslater input {
  border: medium none;
  border-radius: 2px 0 0 2px;
  padding: 5px 10px;
}
.newslater button {
  background: #0aaaa0 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0 2px 2px 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-left: -5px;
  padding: 5px;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 45px;
}
.newslater button:hover{
  opacity: 0.8;
}
/* footer bottom */
.footer-bottom {
  background: #191919 none repeat scroll 0 0;
  padding: 16px 0;
}
.footer-social {
  float: right;
}
.copyright > p {
  color: #eee;
  font-size: 14px;
  margin-bottom: 0;
}
.copyright > p a{
  color: #fff;
  font-weight: bold;
}
.footer-social ul li {
  display: inline;
  padding: 0 7.5px;
}
.footer-social ul li a {
  color: #eee;
  font-size: 12px;
}
/* home animated css */
.slider-animate-area {
  background: #0d0d0d none repeat scroll 0 0;
  color: #ffffff;
}
.slider-animate-area .slider-button-area {
  margin-top: 50px;
}
#scrollUp {
  background-color: #0AAAA0;
  bottom: 5px;
  cursor: pointer;
  display: none;
  height: 34px;
  position: fixed;
  right: 12px;
  text-align: center;
  width: 40px;
  z-index: 9999;
  transition: all 0.3s ease 0s;
}
#scrollUp:hover{
  opacity: 0.7;
}
#scrollUp i {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
/*----------------------------------------*/
/*  13. About us CSS
/*----------------------------------------*/
.page-title-area {
  background: rgba(0, 0, 0, 0) url("img/about/page-banner.jpg") repeat scroll 0 0 / cover ;
  padding: 150px 0 90px;
  position: relative;
}
.back-home {
  bottom: -80px;
  float: right;
  position: absolute;
  right: 0;
}
.back-home > a {
  color: #fff;
  font-size: 13px;
}
.back-home a i {
  color: #0aaac0;
  margin-right: 5px;
}
.page-title h1 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}
.breadcrumb a {
  color: #fff;
}
.breadcumb-area .breadcrumb {
  background-color: transparent;
}
.breadcrumb a:hover,
.breadcrumb li.active{
  color: #0AAAA0;
}
/* about text */
.about-button.btn-lg-f {
  margin-top: 30px;
}
/* what we do */
.single-we-do {
  position: relative;
}
.we-do-text {
  background: rgba(10, 170, 160, 0.63) none repeat scroll 0 0;
  height: 90%;
  left: 5%;
  position: absolute;
  top: 5%;
  width: 90%;
}
.we-do-text > h5 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 260px;
  text-align: center;
}
/* fiinish project */
.finish-project {
  background: rgba(0, 0, 0, 0) url("img/about/finish-project.jpg") repeat scroll 0 0;
}
.single-project h2 {
  color: #fff;
  display: inline-block;
  font-family: roboto;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  padding-bottom: 15px;
  position: relative;
}
.single-project h2::after {
  background: #0aaac0 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}
.single-project h3 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 15px;
  color: #fff;
}
/* video and skill area */
.about-video .image-link,
 .about-video .popup-youtube{
  left: 45%;
  position: absolute;
  top: 40%;
  opacity: inherit;
  width: inherit;
}
.about-video .popup-youtube {
  left: 45%;
  position: absolute;
  top: 40%;
  opacity: inherit;
  width: inherit;
}
.about-video .image-link i,
.about-video .popup-youtube i {
  font-size: 50px;
  color: #555555;
}
.mfp-iframe-holder .mfp-close {
  right: -30px;
  top: -15px;
}
/*------------------------------
28.2 about-skill-area
--------------------------------*/
.knob {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #2bcdc1;
  font: bold 20px Arial;
  height: 33px;
  margin-left: -48px !important;
  margin-top: 33px;
  padding: 0;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 60px;
}
.progress-h4 {
  margin: 0 auto;
  position: absolute;
  top: 120px;
  width: 90%;
}
.about-member-area{padding:90px 0;background:#F7F5F6}
.newsletter-area {
  background: rgba(0, 0, 0, 0) url("img/about/bg-3.jpg") no-repeat scroll center center / cover ;
  overflow: hidden;
  padding: 145px 0;
  text-align: center;
}
.newsletter-area h4{color: #fff!important;
font-family: raleway !important;
font-size: 36px;
line-height: 36px;}
.newsletter-area .email-newslatter {
  margin: 0 auto;
  width: 30%;
}
.newsletter-area .email-newslatter input [type=text]{
  color: #fff!important;
}
.newsletter-area .email-newslatter p{
  color: #fff;
}
.progress-circular input{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #000 !important;
  font: bold 35px Arial;
  left: 66% !important;
  position: absolute !important;
  top: 0 !important;
  width: 160px;
}
/*----------------------------------------*/
/*  14. Blog CSS
/*----------------------------------------*/
.blog-pagination {
  float: right;
}
.blog-pagination li {
  float: left;
}
.blog-pagination li a {
  border: 1px solid #efefef;
  float: left;
  margin: 5px;
  padding: 6px 12px;
}
.blog-pagination li a:hover{
  background: #0AAAA0;
  border: 1px solid #0AAAA0;
  color: #fff;
}
.blog-pagination li:last-child a{
  border: 0px solid #ccc;
  padding-right: 0;
  margin-right: 0;
}
.blog-pagination li:last-child a:hover{
  background: transparent;
  color: #0AAAA0;
}
/*----------------------------------------*/
/*  15. Contact CSS
/*----------------------------------------*/
.single-box {
  border: 1px solid #f1f1f1;
  min-height: 250px;
  padding: 50px 0 20px;
  transition: all 0.3s ease 0s;
}
.single-box:hover{
  border: 1px solid #0AAAA0;
}
.single-box:hover i{
  color: #0AAAA0;
}
.single-box i {
  font-size: 40px;
  margin-bottom: 36px;
  transition: all 0.3s ease 0s;
}
.single-box h3 {
  font-family: lato;
  font-size: 18px;
  font-weight: bold;
}
.single-box p {
  color: #333333;
  font-family: latomedium;
  font-size: 14px;
  margin-bottom: 0;
}
/* form css */
.contact-form-area {
  background: #f1f1f1 none repeat scroll 0 0;
}
.form-fields {
  float: left;
  margin-right: 2.8%;
  width: 31.45%;
}
.last{
  margin-right: 0%;  
}
.form-fields label {
  display: block;
  font-family: Raleway;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.form-fields > input {
  border: medium none;
  height: 50px;
  padding: 0 15px;
  width: 100%;
}
.message-fields {
  clear: both;
  padding-top: 20px;
}
.message-fields > label {
  display: block;
  font-family: Raleway;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.message-fields textarea {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  padding: 20px;
  width: 100%;
}
.form-button {
  margin-top: 20px;
}
.form-button button {
  border: 1px solid #8a8a8a;
  border-radius: 3px;
  color: #333;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease 0s;
}
.form-button button:hover{
  background: #0AAAA0;
  border: 1px solid #0AAAA0;
  color: #fff;
}
#googleMap{
  width: 100%;
  height:500px;
}
/*----------------------------------------*/
/*  16. Couses page CSS
/*----------------------------------------*/
.couses-page-content .couses-button {
  float: none;
  margin: 30px 0;
  width: 100%;
}
.couses-page-content .couses-text {
  background: transparent none repeat scroll 0 0;
}
.couses-page-content .btn-md {
  border: 1px solid transparent;
}
.couses-page-content .couses-price h5 {
  float: none;
}
.couses-page-content .couses-price {
  float: none;
  width: 100%;
}
.couses-page-content .single-couses-image-text {
  border: 1px solid #efefef;
  transition: all 0.3s ease 0s;
}
.couses-page-content .couses-text {
  padding: 40px 25px 0;
}
.couses-page-content .blog-pagination {
  float: none;
}
/* causes sidebar */
.search-box .navbar-form {
  margin-top: 0;
  padding: 0;
}
.search-box .input-group.add-on {
  width: 100%;
}
.search-box .form-control {
  border: 1px solid #e6e6e6;
  border-radius: 0;
  height: 40px;
}
.search-box button {
  border: 1px solid #e6e6e6 !important;
  border-radius: 0 !important;
  color: #666;
  height: 40px;
}
/* twitter widget */
.twitter-widget-area {
  margin-top: 34px;
}
.twitter-widget {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 11px;
  margin-top: 26px;
}
.sidebar-widget-title > h3 {
  border-bottom: 1px solid #e6e6e6;
  color: #555;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 0;
}
.twitter-widget i {
  float: left;
  font-size: 40px;
  margin-right: 15px;
  color: #0AAAA0;
}
.twitter-widget > h5 {
  color: #555;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 28px;
  position: relative;
  top: 10px;
}
/* popular tags */
.popular-tags-widget {
  overflow: hidden;
  padding-top: 35px;
}
.popular-tags {
  margin-top: 30px;
}
.popular-tags ul {
  margin-left: -5px;
}
.popular-tags li {
  float: left;
  margin: 5px;
}
.popular-tags nav ul li a {
  background: #f1f1f1 none repeat scroll 0 0;
  color: #595959;
  display: inline-block;
  padding: 10px 24px;
}
.popular-tags nav ul li a:hover{
  background: #0AAAA0;
  color: #fff;
}
/* flicker widget */
.flicker-widget-area {
  padding-top: 50px;
}
.flicker-widget {
  margin-top: 30px;
}
.flicker-widget li {
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  width: 30.5%;
}
.flicker-widget li:nth-child(3),
.flicker-widget li:nth-child(6){
  margin-right: 0px;
}
.flicker-widget ul li .image-link {
  position: static;
  opacity: inherit;
}
/*----------------------------------------*/
/*  17. Up comming events CSS
/*----------------------------------------*/
.event-image {
  position: relative;
}
.event-image > img {
  width: 100%;
}
.event-image > h3 {
  background: #0aaaa0 none repeat scroll 0 0;
  color: #fff;
  font-family: roboto;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  padding-top: 9px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 50px;
}
.event-text h3 a:hover{
  color: #0aaaa0;
}
.event-text > h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.event-text > h3 a{
  color: #1B1B1B;
}
.event-time-and-place {
  margin-bottom: 20px;
}
.ev-time {
  color: #333;
  font-size: 14px;
  margin-right: 30px;
}
.event-time-and-place span i {
  color: #0aaaa0;
  margin-right: 11px;
}
.event-text > p {
  margin-bottom: 40px;
}
/* eent sidebar */
.event-sidt-title > h3 {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
  position: relative;
}
.event-sidt-title > h3:after{
  content: "";
  background: #0AAAA0;
  position: absolute;
  width: 70px;
  height: 3px;
  left: 0;
  top: 100%;
}
/* popular post */
.ev-post-text > p {
  color: #8a8a8a;
  margin-bottom: 0;
}
/* event categoris */
.event-categoris a {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 13px 0;
}
.event-tags .popular-tags > nav {
  margin-top: 28px;
}
/*----------------------------------------*/
/*  18. Error page area CSS
/*----------------------------------------*/
.error-page-area {
  background: rgba(0, 0, 0, 0) url("img/404-bg.jpg") repeat scroll 0 0;
}
.error-content h1 {
  color: #fff;
  font-size: 150px;
  font-weight: bold;
  line-height: 150px;
}
.error-content h1 span {
  color: #0aaac0;
}
.error-content h3 {
  color: #fff;
  font-family: lato;
  font-size: 50px;
  font-weight: bold;
}
.error-content h3 span {
  font-size: 24px;
}
.error-content p {
  color: #fff;
  font-family: lato;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 55px;
}
.error-content a {
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 25px;
  text-decoration: none;
}
.donet-error-page h3 {
  color: #333;
  font-family: lato;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.donet-error-page a {
  border: 1px solid #333;
  color: #333;
  padding: 15px 25px;
  text-decoration: none;
}
/*----------------------------------------*/
/*  19. Blog details CSS
/*----------------------------------------*/
.blog-details{
  padding: 15px;
}
.blog-details-title > h3 {
  margin-bottom: 0;
}
.blog-details .blog-info {
  padding: 11px 15px 15px 0;
}
.blog-details .comment {
  float: none;
  text-align: inherit;
  width: inherit;
}
.blog-details .admin {
  float: left;
  margin-right: 5px;
  width: inherit;
}
.blog-details .blo-image-and-date > img {
  width: 100%;
}
.blog-details .blog-text {
  padding: 0;
  margin-top: 15px;
}
/* blog details comment css */
.single0blog-coment ul li {
  float: left;
  margin: 30px 0 0;
  width: 100%;
}
.single0blog-coment ul li .coment-image {
  float: left;
}
.single0blog-coment ul li .coment-image a {
  color: #666;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px 0 0;
}
.single0blog-coment ul li .comment-heading {
  margin: 0 0 0 30px;
  padding: 0 0 5px 60px;
}
.single0blog-coment ul li .comment-heading h5 {
  color: #666;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px 0 0;
}
.single0blog-coment ul li .comment-heading h5 a {
  color: #666;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px 0 0;
  transition: all 0.3s ease 0s;
}
.single0blog-coment ul li .comment-heading h5 a:hover {
  color: #0AAAA0;
}
.single0blog-coment ul li .comment-heading p {
  display: inline-block;
  margin: 0;
}
.single0blog-coment ul li .comment-heading a.reply {
  color: #666;
  float: right;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}
.single0blog-coment ul li .comment-heading a.reply:hover {
  color: #0AAAA0;
}
.single0blog-coment ul li .coment0-text {
  background: #efefef none repeat scroll 0 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: 40px;
  padding-left: 50px;
  padding-top: 12px;
}
.single0blog-coment ul ul {
  float: right;
  width: 90%;
}
.single0blog-coment ul li {
  float: left;
  margin: 30px 0 0;
  width: 100%;
}
/* comment reply css */
.leave-reply {
  float: left;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}
.leave-reply h2 {
  background-color: #363636;
  color: #fff;
  font-size: 24px;
  line-height: normal;
  margin: 0;
  padding: 10px 15px;
}
.leave-reply ul {
  float: left;
  list-style: outside none none;
  margin: 30px 0 0;
  width: 100%;
}
.leave-reply ul li {
  margin: 0 0 20px;
  position: relative;
}
.leave-reply input[type="text"], .leave-reply textarea {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  margin: 0;
  min-height: 50px;
  padding: 4px 60px 4px 6px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  width: 100%;
}
.leave-reply ul li i {
  font-size: 20px;
  height: 100%;
  padding: 15px 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
}
.leave-reply input[type="text"], .leave-reply textarea {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  margin: 0;
  min-height: 50px;
  padding: 4px 60px 4px 6px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  width: 100%;
}
.leave-reply textarea {
  height: 200px;
  resize: none;
}
.leave-reply .btn-style {
  float: right;
}
.leave-reply .btn-style:hover {
  background: #0AAAA0 none repeat scroll 0 0;
}
/*----------------------------------------*/
/*  20. Blog details sidebar right CSS
/*----------------------------------------*/
.post-thum img {
  width: 100%;
}
/* Color Switcher */
.sidebarmain.ec-colorswitcher  { left: 0px; }
.ec-colorswitcher {
    padding: 0px;
    width: 260px;
    background: #fcfcfc;
    z-index: 99999999999;
    position: fixed;
    left: -260px;
    top: 0%;

    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}
.ec-handle {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  color: #333;
  font-size: 20px;
  height: 40px;
  position: absolute;
  right: -40px;
  text-align: center;
  top: 35%;
  width: 40px;
}
.ec-handle i {
  line-height: 38px;
}
.ec-colorswitcher h3 {
  background-color: #0aaaa0;
  border-top: 1px solid #0aaaa0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 10px 0 10px 20px;
  text-align: center;
  text-transform: uppercase;
}
.style-swicher-logo.text-center {
  padding-bottom: 10px;
  padding-top: 20px;
}
.ec-colorswitcher h6 {
  color: #555;
  font-size: 15px;
  font-weight: 600;
}
.ec-switcherarea {
    padding: 15px 20px 20px 15px;
    float: left;
    width: 100%;
}
.ec-switcherarea ul.ec-switcher { margin-left: -2px; }
.ec-switcherarea .ec-switcher li {
  float: left;
  list-style: outside none none;
  margin-bottom: 5px;
  padding-left: 5px;
  text-align: center;
  width: 33%;
}
.ec-switcherarea .ec-switcher li a {
  float: left;
  width: 100%;
  height: 30px;
}
.layout-btn {
  margin-left: -7px;
}
.layout-btn a {
  float: left;
  width: 50%;
  padding: 0px 0px 0px 7px;
  margin-bottom: 15px;
}
.layout-btn a span {
  background-color: #0AAAA0;
  color: #fff;
  float: left;
  padding: 10px;
  text-align: center;
  transition: all 0.4s ease-in-out 0s;
  width: 100%;
}
.layout-btn a span:hover { opacity: 0.7; }
.ec-pattren,.ec-background {
  float: left;
  width: 100%;
  padding: 14px 0px 0px 0px;
}
.ec-pattren a,.ec-background a {
  float: left;
  width: 20%;
  padding: 0px 0px 5px 5px;
  height: 45px;
}
.ec-pattren a img,.ec-background a img {
  box-shadow: 0px 0px 0px 1px #ddd;
  width: 100%;
}
.ec-background a img { height: 100%; }
.pattren-wrap,.background-wrap { margin-left: -5px; }
.main-area {
  position: relative;
  transition: all 0.6s ease 0s;
}
.main-area.wrapper-boxed {
  background-color: #ffffff;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
  float: none;
  margin: 0 auto;
  max-width: 1200px;
}
.cs-color-1 {
  background: #0AAAA0;
}
.cs-color-2 {
  background: #41c3ac;
}
.cs-color-3 {
  background: #AF4D32;
}
.cs-color-4 {
  background: #1abc9c;
}
.cs-color-5 {
  background: #3498db;
}
.cs-color-6 {
  background: #9b59b6;
}
.cs-color-7 {
  background: #34495e;
}
.cs-color-8 {
  background: #e67e22;
}
.cs-color-9 {
  background: #c0392b;
}
.cs-color-10 {
  background: #336E7B;
}
.cs-color-11 {
  background: #f05a66;
}
.cs-color-12 {
  background: #00ABEA;
}

/* shortcode css */
/* page title left */
.page-title-left .breadcumb-area .breadcrumb {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
}
/* page title right */
.page-title-right .page-title {
  text-align: right;
  width: 100%;
}
.page-title-right .breadcumb-area {
  text-align: right;
}
.page-title-right .breadcumb-area .breadcrumb {
  background-color: rgba(0, 0, 0, 0);
  padding-right: 0;
}
/* page breadcumb right */
.page-breadcumb-right .page-title {
  float: left;
}
.page-breadcumb-right .breadcumb-area .breadcrumb {
  background-color: rgba(0, 0, 0, 0);
  padding-right: 0;
}
.page-damy-content p {
  color: rgb(102, 102, 102);
}
/* hiro unit css */
.hiro-unit-area {
  background: rgba(0, 0, 0, 0) url("img/peopule-say-bg.jpg") repeat fixed 0 0;
  color: rgb(255, 255, 255);
}
.hiro-unit-area h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 65px;
}
.hiro-unit-area p {
  font-size: 15px;
  margin-bottom: 40px;
}
/* video gallery css */
.single-video-gallery iframe {
  height: 100%;
  width: 100%;
}
/* pagination css */
.shortcode-area .section-title h2 {
  border-bottom: 1px solid #d1d1d1;
  color: #444444;
  font-size: 21px;
  line-height: 30px;
  padding-bottom: 8px;
  text-transform: capitalize;
}
